.form {
    /* border 0.375rem and padding 0.125rem for total of 0.5rem */
    border: solid 0.125rem var(--color-primary);
    border-radius: var(--border-radius);
    margin: 2rem auto 0 auto;
    padding: 0.375rem;

    container-type: inline-size;
    container-name: form;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 38.75rem; /* 620px */
    transition: 0.25s ease;
    transition-property: border, box-shadow;
}

.form:hover,
.form:has(:focus) {
    border-color: var(--color-primary-light);
    box-shadow: var(--box-shadow-primary);
}

.url-field {
    background: none;
    color: var(--color-white-98);
    display: block;
    margin-left: 2rem;
    flex-grow: 1;
}
.url-field::placeholder {
    color: var(--color-white-98);
}

@container form (width < 26rem) {
    .url-field {
        margin-left: 0.2em;
    }
    * {
        flex-grow: 1;
    }
}