.qrcode-container {
    display: block;
    border-radius: 1rem;
    margin-top: 6rem;
    margin-inline: auto;
    padding: 1.25rem;
    max-width: min(100%, 15.125rem); /* 242px */
    background-color: white; /* To blend with QR Code*/
}

.qrcode-container img {
    width: 100%;
    height: auto;
}